body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Open Sans';
}

.purple {
    background-color: #a3238e;
}

.red {
    background-color: #ed1a3b;
}

.section_header {
    height: 30px;
}
.footer {
    background-color: #999999;

}

.display-inline > img, .display-inline > ul > li, .display-inline > ul {
    display: inline;
}

.navbar-default {
    background-color: greenyellow;
}

.navbar {
    border: none;
}

.navbar-nav > li > a {
    font-weight: bold;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}