body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #b4259c;
    background-color: #e7d943;
}

.logo {
    width: 357px;
    height: 68px;
}

.purple {
    background-color: #a3238e;
}

.red {
    background-color: #ed1a3b;
}

.section_header {
    height: 30px;
}
.footer {
    background-color: #999999;
    height: 365px;
}